.slide-fade-up-enter-active,
.slide-fade-down-enter-active,
.slide-fade-left-enter-active,
.slide-fade-right-enter-active {
    transition: all 1s ease;
}

.slide-fade-up-leave-active,
.slide-fade-left-leave-active {
    transition: all 1s;
}

.slide-fade-up-enter-from,
.slide-fade-up-leave-to {
    transform: translateY(100%);
    opacity: 0;
}

.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
    transform: translateX(80%);
    opacity: 0;
}

.slide-fade-right-enter-from,
.slide-fade-right-leave-to {
    transform: translateX(-80%);
    opacity: 0;
}